
.dropdown-toggle::after{
    display: none;
}

.nav-item{
    margin-left: 70px;
}
.nav-link{
    font-size: 20px;
}


@media (max-width: 800px) {
    .nav-item{
        margin-top: 10px;
        margin-left: 0px;
    }

    .search{
        margin-top: 10px;
    }
}
@media only screen and (min-width:801px) and (max-width:1000px) {
    .nav-item{
        margin-top: 10px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .search{
        margin-top: 10px;
    }
}