.dropdown-toggle::after{
    display: none;
}
.nav-item{
    margin-left: 70px;
}
.nav-link{
    font-size: 15px;
}
.profile-info{
    justify-content: center;
}

#profile-image{
    border-radius: 50%;
    
    box-shadow: 10px 4px 10px 0 rgba(54, 54, 54, 0.2), 0 16px 20px 0 rgba(189, 187, 187, 0.19);
}

.second-brand{
    font-size: 17px;
}
.bio p{
    font-size: 15px;
}
.carousel{
    height: 60vh;

}
.carousel-item{
    width: 100%;
    height: 60vh;
}
#caro-img{
    width: 100%;
    height: 60vh;
}

#captions{
    background: #cfd1d4;
    height: 60vh;
}
#captions h4{
    font-size: 20px;
}
#captions h3{
    font-size: 30px;
}
.carousel-control-prev{
    padding-right: 10%;
}
.carousel-control-next{
    padding-left: 10%;
}
#posts-container{
    margin-top: 70px;
}
.posts{
    margin-top: 50px;
    margin-bottom: 50px;
}
.start-post-image{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
#start-post-card h5{
    font-size: 15px;
}
.start-post{
    width: 80%;
    height: 50px;
    border-radius: 50px;
    box-shadow: 10px 4px 10px 0 rgba(54, 54, 54, 0.2), 0 16px 20px 0 rgba(189, 187, 187, 0.19);
    padding-left: 20px;
}
.start-post:focus{
    outline: 0;
}
.post-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
}
.post-title{
    width: 100%;
    height: 7vh;
    border-radius: 10px;
    padding-left: 10px;
    box-shadow: 10px 4px 10px 0 rgba(54, 54, 54, 0.2), 0 16px 20px 0 rgba(189, 187, 187, 0.19);
}
.post-title:focus{
    outline: 0;
}
.post-text-area{
    width: 100%;
    height: 65vh;
    border: none;
    padding-left: 10px;
}
.post-text-area:focus{
    outline: 0;
}

#profile-post-cards h6{
    font-size: 15px;
}
#profile-post-cards p{
    font-size: 12px;
}


#view-all{
    margin-top: 50px;
}
hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
footer{
    margin-top: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.email{
    width: 350px;
    height: 60px;
    border-radius: 10px;
    padding-left: 20px;
}
.email:focus{
    outline: 0;
}
.email-button{
    width: 70px;
    height: 60px;
    border-radius: 30%;
}
.social{
    padding-left: 10px;
}
@media only screen and (min-width:0px) and (max-width:576px){
    .nav-item{
        margin-top: 10px;
        margin-left: 0px;
    }
    .search{
        margin-top: 10px;
    }
    .second-brand{
        font-size: 15px;
    }
    .carousel{
        height: 100%;
    
    }
    .carousel-item{
        width: 100%;
        height: 90vh;
    }
    .carousel-item{
        width: 100%;
        height: 90vh;
    }
    #caro-img{
        width: 100%;
        height: 45vh;
    }
    
    #captions h4{
        font-size: 15px;
    }
    #captions h3{
        font-size: 20px;
    }
    #captions p{
        font-size: 12px;
    }
    #captions{
        background: #cfd1d4;
        height: 45vh;
    }
    #profile-post-cards img{
        height: 200px;
    }
    .email{
        width: 180px;
        height: 60px;
    }
    .email-button{
        width: 70px;
        height: 60px;
    }
}
@media only screen and (min-width:577px) and (max-width:768px) {
    .nav-item{
        margin-top: 10px;
        margin-left: 0px;
    }

    .search{
        margin-top: 10px;
    }
    .carousel{
        height: 100%;
        border-radius: 9px;
    }
    .carousel-item{
        width: 100%;
        height: 70vh;
    }
    #caro-img{
        width: 100%;
        height: 35vh;
    }
    #captions{
        background: #cfd1d4;
        height: 35vh;
    }
}
@media only screen and (min-width:769px) and (max-width:992px) {
    .nav-item{
        margin-top: 10px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .search{
        margin-top: 10px;
    }
    .carousel{
        height: 100%;
    
    }
    .carousel-item{
        width: 100%;
        height: 60vh;
    }
    .carousel-item{
        width: 100%;
        height: 60vh;
    }
    #caro-img{
        width: 100%;
        height: 30vh;
        
    }
    #captions{
        background: #cfd1d4;
        height: 30vh;
    }
    .email{
        width: 200px;
        height: 60px;
    }
}

@media only screen and (min-width:993px) and (max-width:1200px){
    .carousel{
        height: 40vh;
    
    }
    .carousel-item{
        width: 100%;
        height: 40vh;
    }
    .carousel-item{
        width: 100%;
        height: 40vh;
    }
}
